@import url("https://use.typekit.net/bcc4wcv.css");
* {
  
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins";
  text-decoration: none;
}


header {
  width: 100%;
  /* position: fixed; */
  z-index: 1010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0.1px 0.1px 8px gray;
}

/* Nav bar style */
header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer {
  background: rgba(0, 0, 0, 0.85);
  padding: 30px 55px;
}