.secondPageBody {
  margin-left: 10rem;
}

@media screen and (max-width: 1399px) {
}

@media screen and (max-width: 1199px) {
  .secondPageBody {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 991px) {
  .secondPageBody {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .secondPageBody {
    margin-left: 1rem;
  }
}
